<div class="hello-there" ng-controller="helloForm as ctrl">
  <form>
    <label for="my-name">My name is</label>
    <input id="my-name" type="text" ng-model="ctrl.name"></input>
  </form>
  <!-- invoking the other template -->
  <!-- <display-name name="ctrl-name"></display-name> -->
</div>

<!-- <div class="hello-form" ng-controller="helloForm as ctrl">
  <form>
    My name is:
    <input type="text" ng-model="ctrl.name"></input>
  </form>
  <display-name name="ctrl.name"></display-name>
</div> -->
